@import "tailwindcss";

:root {
  --primary-color: #0081D1;
  --secondary-color: #FFCC00;
  --accent-color: #4a5568;
  --text-color: #050505;
  --secondary-text-color: #121C2A;
  --background-color: #EAF1FF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',"Roboto",
    sans-serif;
}


html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',"Roboto", "Oxygen",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  color: var(--text-color);
  cursor: pointer;


}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;

}

input, textarea, select {
  font-family: inherit;
}